spec:
  template:
    spec:
      containers:
      - name: leader
        args:
        - redis-server
        - '--save'
        - '60'
        - '1'
        volumeMounts:
        - name: redis-data
          mountPath: /data
      volumes:
        - name: redis-data
          persistentVolumeClaim:
            claimName: redis-data-pvc